<a href="https://colab.research.google.com/github/Jignacio14/7506R-1C2023-GRUPO09/blob/Pruebas/7506R_TP1_GRUPO9_CHP1_ENTREGA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pruebas

En este apartado se estara trabajando el analisis exploratorio de los datos que se estaran usando para el trabajo practico #1

In [1]:
import pandas as pd 
import numpy as np
import sklearn as sk
import seaborn as sns
import matplotlib as mpl

In [5]:
hotelsdf = pd.read_csv("./hotels_train.csv")

print("El data frame esta compuesto por "f"{hotelsdf.shape[0]}"" filas y "f"{hotelsdf.shape[1]}"" columnas")

El data frame esta compuesto por 61913 filas y 33 columnas

Un vistaso básico a la información contenida en el dataframe viene dada por:

In [7]:
hotelsdf.head()

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,id,is_canceled
0,City Hotel,49,2016,September,37,5,1,2,1,0.0,...,NaN,0,Transient,115.5,0,1,Canceled,2016-08-25,7aa4cc6b-b92c-4061-b21d-4f9e0cac4689,1
1,Resort Hotel,4,2015,October,44,31,0,1,2,0.0,...,NaN,0,Transient,42.0,1,0,Check-Out,2015-11-01,b1428f80-c56c-4ae4-91a9-6962edae08b1,0
2,City Hotel,25,2016,October,42,13,0,1,2,2.0,...,NaN,0,Transient,229.0,0,2,Check-Out,2016-10-14,2226c018-ea20-4c4e-8f71-ea66aee70d7c,0
3,City Hotel,26,2016,December,51,12,2,5,2,0.0,...,NaN,0,Transient,75.0,0,0,Canceled,2016-11-29,314f56dc-2e4d-4298-9bdd-27bb008bffff,1
4,City Hotel,104,2017,March,12,19,2,5,2,0.0,...,NaN,0,Transient-Party,75.0,0,1,Check-Out,2017-03-26,28c75445-c603-413a-babf-ad377018b592,0

Por otro lado un vistazo un poco más detallado a la informacion contenida por el dataframe puede verse:

In [8]:
hotelsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61913 entries, 0 to 61912
Data columns (total 33 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           61913 non-null  object
 1   lead_time                       61913 non-null  int64
 2   arrival_date_year               61913 non-null  int64
 3   arrival_date_month              61913 non-null  object
 4   arrival_date_week_number        61913 non-null  int64
 5   arrival_date_day_of_month       61913 non-null  int64
 6   stays_in_weekend_nights         61913 non-null  int64
 7   stays_in_week_nights            61913 non-null  int64
 8   adults                          61913 non-null  int64
 9   children                        61909 non-null  float64
 10  babies                          61913 non-null  int64
 11  meal                            61913 non-null  object
 12  country                         61692 non-null  object
 13  market_segment                  61913 non-null  object
 14  distribution_channel            61913 non-null  object
 15  is_repeated_guest               61913 non-null  int64
 16  previous_cancellations          61913 non-null  int64
 17  previous_bookings_not_canceled  61913 non-null  int64
 18  reserved_room_type              61913 non-null  object
 19  assigned_room_type              61913 non-null  object
 20  booking_changes                 61913 non-null  int64
 21  deposit_type                    61913 non-null  object
 22  agent                           54023 non-null  float64
 23  company                         3152 non-null   float64
 24  days_in_waiting_list            61913 non-null  int64
 25  customer_type                   61913 non-null  object
 26  adr                             61913 non-null  float64
 27  required_car_parking_spaces     61913 non-null  int64
 28  total_of_special_requests       61913 non-null  int64
 29  reservation_status              61913 non-null  object
 30  reservation_status_date         61913 non-null  object
 31  id                              61913 non-null  object
 32  is_canceled                     61913 non-null  int64
dtypes: float64(4), int64(16), object(13)
memory usage: 15.6+ MB

Segun la clasificacion de las variables podemos establecer lo siguiente sobre los datos extraidos del dataframe

Variables cuantitativas, entre las cuales podemos encontrar:

· arrival_date_year

· arrival_date_month 

· arrival_date_week_number  
  
· arrival_date_day_of_month

· stays_in_weekend_nights

· days_in_waiting_list

· stays_in_week_nights

· required_car_parking_spaces

continuar...

In [10]:
hotelsdf.isnull().sum()

hotel                                 0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             221
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                              7890
company                           58761
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
id                                    0
is_canceled                           0
dtype: int64

In [17]:
hotelsdf['hotel'].value_counts().index.tolist()

['City Hotel', 'Resort Hotel']